## The File includes analysis and transformation required to create an amazing PowerBi dashboard. 

### The dataset is taken from espncricinfo website. The data is based on the Cricket Men's World Cup 2022.

Link: https://www.espncricinfo.com/

### Importing Necessary Libraries

In [1]:
import pandas as pd
import json
import re
%matplotlib inline

### Loading Dataset Tables

#### Match Results Table

In [2]:
# Reading data from json file
with open("t20_wc_match_results.json") as f:
    data = json.load(f)

match_results = pd.DataFrame(data[0]['matchSummary'])

In [3]:
match_results.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [4]:
match_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   team1      45 non-null     object
 1   team2      45 non-null     object
 2   winner     45 non-null     object
 3   margin     45 non-null     object
 4   ground     45 non-null     object
 5   matchDate  45 non-null     object
 6   scorecard  45 non-null     object
dtypes: object(7)
memory usage: 2.6+ KB

#### Batting Summary Table

In [5]:
# Reading data from json file
with open("t20_wc_batting_summary.json") as f:
    data = json.load(f)

alldata = []
for rec in data:
    alldata.extend(rec['battingSummary'])
        
batting_summary = pd.DataFrame(alldata)

In [6]:
batting_summary.head(5)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33

In [7]:
batting_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   match        699 non-null    object
 1   teamInnings  699 non-null    object
 2   battingPos   699 non-null    int64
 3   batsmanName  699 non-null    object
 4   dismissal    699 non-null    object
 5   runs         699 non-null    object
 6   balls        699 non-null    object
 7   4s           699 non-null    object
 8   6s           699 non-null    object
 9   SR           699 non-null    object
dtypes: int64(1), object(9)
memory usage: 54.7+ KB

#### Bowling Summary Table

In [8]:
# Reading data from json file
with open("t20_wc_bowling_summary.json") as f:
    data = json.load(f)

alldata = []
for rec in data:
    alldata.extend(rec['bowlingSummary'])
    
bowling_summary = pd.DataFrame(alldata)

In [9]:
bowling_summary.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0

In [10]:
bowling_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   match        500 non-null    object
 1   bowlingTeam  500 non-null    object
 2   bowlerName   500 non-null    object
 3   overs        500 non-null    object
 4   maiden       500 non-null    object
 5   runs         500 non-null    object
 6   wickets      500 non-null    object
 7   economy      500 non-null    object
 8   0s           500 non-null    object
 9   4s           500 non-null    object
 10  6s           500 non-null    object
 11  wides        500 non-null    object
 12  noBalls      500 non-null    object
dtypes: object(13)
memory usage: 50.9+ KB

#### Players Info Table

In [11]:
# Reading data from json file
with open("t20_wc_player_info.json") as f:
    data = json.load(f)

players_info = pd.DataFrame(data)

In [12]:
players_info.head()

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,

In [13]:
players_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          219 non-null    object
 1   team          219 non-null    object
 2   battingStyle  219 non-null    object
 3   bowlingStyle  219 non-null    object
 4   playingRole   219 non-null    object
 5   description   219 non-null    object
dtypes: object(6)
memory usage: 10.4+ KB

### Data Analysis & Transformation

In [14]:
# Removing '(c)' denoting captain from Player Names
batting_summary["batsmanName"] = batting_summary["batsmanName"].str.split('(').str[0]
players_info["name"] = players_info["name"].str.split('(').str[0]

#### Removing Non-Ascii Charachters

In [16]:
# Names of all batsman having non-ascii charachters 
batting_summary[
    (batting_summary["batsmanName"].str.contains(r'[\x80-\xFF]') == True) | 
    (batting_summary["dismissal"].str.contains(r'[\x80-\xFF]') == True)
]

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,run out (Gunathilaka/â€ Mendis),44,28,4,0,157.14
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,c â€ Mendis b Theekshana,0,1,0,0,0.00
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,c â€ Green b Wiese,6,6,0,0,100.00
11,Namibia Vs Sri Lanka,Sri Lanka,4,Danushka Gunathilaka,c â€ Green b Shikongo,0,1,0,0,0.00
...,...,...,...,...,...,...,...,...,...,...
673,India Vs England,India,1,KL Rahul,c â€ Buttler b Woakes,5,5,1,0,100.00
678,India Vs England,India,6,Rishabh Pantâ€,run out (â€ Buttler/Jordan),6,4,1,0,150.00
682,Pakistan Vs England,Pakistan,1,Mohammad Rizwanâ€,b Curran,15,14,0,1,107.14
686,Pakistan Vs England,Pakistan,5,Iftikhar Ahmed,c â€ Buttler b Stokes,0,6,0,0,0.00
692,Pakistan Vs England,England,1,Jos Buttler,c â€ Mohammad Rizwan b Haris Rauf,26,17,3,1,152.94

In [17]:
# Function to remove non-ascii charachters in dataframe
def remove_non_ascii_char(df):
    
    for col in df.columns:
        df[col] = df[col].replace(r'[^\x00-\x7F]', '', regex = True)
    return df

In [18]:
match_results = remove_non_ascii_char(match_results)
batting_summary = remove_non_ascii_char(batting_summary)
bowling_summary = remove_non_ascii_char(bowling_summary)
players_info = remove_non_ascii_char(players_info)

In [19]:
# Renaming scorecard column to match_id
match_results.rename(columns = {'scorecard': 'match_id'}, inplace = True)

In [20]:
match_results.describe()

,team1,team2,winner,margin,ground,matchDate,match_id
count,45,45,45,45,45,45,45
unique,14,13,17,28,7,25,45
top,Netherlands,Zimbabwe,England,5 wickets,Hobart,"Nov 6, 2022",T20I # 1823
freq,5,8,5,7,9,3,1

##### Adding match_id column to batting & bowling Table

In [21]:
#Creating a dictionary using team1 & team2 names
match_id_dict = {}

for index, row in match_results.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']

    match_id_dict[key1] = row['match_id']
    match_id_dict[key2] = row['match_id']

In [22]:
# Adding match_id column to both tables

batting_summary['match_id'] = batting_summary['match'].map(match_id_dict)
bowling_summary['match_id'] = bowling_summary['match'].map(match_id_dict)

In [23]:
# Rearranging match_id column to first place
batting_summary.insert(0, 'match_id', batting_summary.pop('match_id'))
bowling_summary.insert(0, 'match_id', bowling_summary.pop('match_id'))

#### Adding Out/Not Out column in batting_summary Table

In [24]:
batting_summary['is_out'] = batting_summary['dismissal'].apply(lambda x: 'Out' if len (x) > 0 else 'Not Out')

In [25]:
batting_summary.head()

,match_id,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,is_out
0,T20I # 1823,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,Out
1,T20I # 1823,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,Out
2,T20I # 1823,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c Mendis b Karunaratne,20,12,1,2,166.66,Out
3,T20I # 1823,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,Out
4,T20I # 1823,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus,c Gunathilaka b PWH de Silva,20,24,0,0,83.33,Out

#### Adding country's flag image column in the players_info Table

In [26]:
# Total Teams list
players_info['team'].unique()

array(['Namibia', 'Sri Lanka', 'Australia', 'Zimbabwe', 'Ireland',
       'Afghanistan', 'England', 'U.A.E.', 'Netherlands', 'West Indies',
       'Pakistan', 'India', 'Bangladesh', 'Scotland', 'South Africa',
       'New Zealand'], dtype=object)

In [27]:
# Creating a Dictionary of Country Name and their Flag's image link
country_flags_dict = {
    'Namibia': 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Namibia.svg/1280px-Flag_of_Namibia.svg.png',
    'Sri Lanka': 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Flag_of_Sri_Lanka.svg/1280px-Flag_of_Sri_Lanka.svg.png',
    'Australia': 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/1280px-Flag_of_Australia_%28converted%29.svg.png',
    'Zimbabwe': 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Flag_of_Zimbabwe.svg/1280px-Flag_of_Zimbabwe.svg.png',
    'Ireland': 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Flag_of_Ireland.svg/1280px-Flag_of_Ireland.svg.png',
    'Afghanistan': 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Afghanistan.svg/1280px-Flag_of_Afghanistan.svg.png',
    'England': 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Flag_of_England.svg/1280px-Flag_of_England.svg.png',
    'U.A.E.': 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Flag_of_the_United_Arab_Emirates.svg/1280px-Flag_of_the_United_Arab_Emirates.svg.png',
    'Netherlands': 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/1280px-Flag_of_the_Netherlands.svg.png',
    'West Indies': 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Flag_of_the_West_Indies_Federation.svg/1280px-Flag_of_the_West_Indies_Federation.svg.png',
    'Pakistan': 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Flag_of_Pakistan.svg/1280px-Flag_of_Pakistan.svg.png',
    'India': 'https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1280px-Flag_of_India.svg.png',
    'Bangladesh': 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/1280px-Flag_of_Bangladesh.svg.png',
    'Scotland': 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Flag_of_Scotland.svg/1280px-Flag_of_Scotland.svg.png',
    'South Africa': 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Flag_of_South_Africa.svg/1280px-Flag_of_South_Africa.svg.png',
    'New Zealand': 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Flag_of_New_Zealand.svg/1280px-Flag_of_New_Zealand.svg.png'
}

In [28]:
# Mapping these Images to their Country Names
players_info['countryImage'] = players_info['team'].map(country_flags_dict)

In [29]:
players_info.head()

,name,team,battingStyle,bowlingStyle,playingRole,description,countryImage
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,,https://upload.wikimedia.org/wikipedia/commons...
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,,https://upload.wikimedia.org/wikipedia/commons...
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,,https://upload.wikimedia.org/wikipedia/commons...
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,,https://upload.wikimedia.org/wikipedia/commons...
4,Gerhard Erasmus,Namibia,Right hand Bat,Right arm Offbreak,Allrounder,,https://upload.wikimedia.org/wikipedia/commons...

#### Output all tables in csv format

In [30]:
table_names = [[match_results, 'match_results'], [batting_summary,'batting_summary'], 
               [bowling_summary, 'bowling_summary'], [players_info, 'players_info']]

for table in table_names:
    table[0].to_csv(f"Tranformed_data/{table[1]}.csv")